<section class="section-benefist">
    <ul class="container benefist-container">
        <li class="benefist-item">
            <div>
                <div>
                    <svg class="benefist-icon" width="28px" height="28px">
                        <use href="/img/sprite/symbol-defs.svg#icon-chocolate"></use>
                    </svg>
                </div>
                <div class="benefist-title">Unsurpassed taste</div>
                <div class="benefist-text">
                    Crafted with the finest quality cocoa beans and a dedication to
                    perfection, each bite is a decadent experience that simply cannot be
                    matched. Savor the richness and complexity of our Unsurpassed Taste
                    and discover a new level of chocolate bliss.
                </div>
            </div>
            <div class="divider"></div>
        </li>
        <li class="benefist-item">
            <div>
                <div>
                    <svg class="benefist-icon" width="28px" height="28px">
                        <use href="/img/sprite/symbol-defs.svg#icon-coin"></use>
                    </svg>
                </div>
                <div class="benefist-title">Affordable price</div>
                <div class="benefist-text">
                    Indulge in high-quality chocolate without breaking the bank with
                    Simply Chocolate's selection of affordable treats. Enjoy
                    mouth-watering truffles and velvety chocolate bars without sacrificing
                    taste or quality. Browse our selection and indulge in affordable
                    luxury today.
                </div>
            </div>
            <div class="divider"></div>
        </li>
        <li class="benefist-item">
            <div>
                <div>
                    <svg class="benefist-icon" width="28px" height="28px">
                        <use href="/img/sprite/symbol-defs.svg#icon-spoon"></use>
                    </svg>
                </div>
                <div class="benefist-title">Own production</div>
                <div class="benefist-text">
                    We take pride in our own production process, ensuring that every step
                    is carefully crafted to perfection. From selecting the finest
                    ingredients to handcrafting each piece, our attention to detail is
                    evident in every bite.
                </div>
            </div>
        </li>
    </ul>
</section>