<!-- footer -->
<footer id="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-info">
        <p>
          <span class="footer-orange-title">Chocolate</span> a delicious cure
          for a bad day
        </p>
      </div>
      <div class="footer-address-container">
        <address class="footer-address">
          <p class="footer-address-title">Contact us</p>
          <ul class="address-list">
            <li>
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li>
              <a href=" mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
          </ul>
        </address>

        <ul class="footer-social-links-list">
          <li>
            <a href="#">
              <svg class="footer-social-item" width="20" height="20">
                <use href="/img/sprite/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#"
              ><svg class="footer-social-item" width="20" height="20">
                <use
                  href="/img/sprite/symbol-defs.svg#icon-twitter"></use>
                </svg></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-main-buttons">
      <ul class="footer-main-buttons-list">
        <li><a class="footer-links current" href="#">Home</a></li>
        <li><a a class="footer-links" href="#recipe">How it's made?</a></li>
        <li><a a class="footer-links" href="#products">Our products</a></li>
        <li><a a class="footer-links" href="#top-sellers">Top sellers</a></li>
        <li><a a class="footer-links" href="#lovers">Chocolate is loved</a></li>
      </ul>
    </div>
  </div>
</footer>
