 <!-- Header -->
    <header>
        <div class="container header-container">
            <nav class="header-nav">
                <a class="logo" href="./index.html">SIMPLY&nbsp;<span class="logo-second">CHOCOLATE</span>
                    <svg width="24" height="24">
                        <use href="/img/sprite/symbol-defs.svg#icon-chocolate-logo"></use>
                    </svg>
                </a>
                    <ul class="header-menu">
                        <li><a class="header-link" href="./index.html">Home</a></li>
                        <li><a class="header-link" href="#recipe">How it&#39;s made?</a></li>
                        <li><a class="header-link" href="#products">Our products</a></li>
                        <li><a class="header-link" href="#top-sellers">Top sellers</a></li>
                        <li><a class="header-link" href="#lovers">Chocolate is loved</a></li>
                    </ul>
                </nav>
                <ul class="social-links-nav">
                <li>
                    <a class="social-link" href="">
                        <svg width="24" height="24">
                            <use href="/img/sprite/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="social-link" href="">
                        <svg width="24" height="24">
                            <use href="/img/sprite/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                </ul>

                    <!-- Mobile menu -->
                <button type="button"     
                class="burger-menu js-open-menu"
                aria-expanded="false"
                aria-controls="mobile-menu">
                <svg aria-label="mobile menu switcher" width="28" height="28">
                    <use href="/img/sprite/symbol-defs.svg#icon-burger-menu"></use>
                </svg>
            </button>
            <div class="mobile-menu js-menu-container" id="mobile-menu">
                <div class="container container-mobile-menu">
                    <button class="mobile-menu-close js-close-menu" type="button">
                        <svg width="28" height="28">
                            <use href="/img/sprite/symbol-defs.svg#icon-close"></use>
                        </svg>
                    </button>
                    <ul class="mobile-nav">
                        <li><a class="mobile-link" href="./index.html">Home</a></li>
                        <li><a class="mobile-link" href="#recipe">How it&#39;s made?</a></li>
                        <li><a class="mobile-link" href="#products">Our products</a></li>
                        <li><a class="mobile-link" href="#top-sellers">Top sellers</a></li>
                        <li><a class="mobile-link" href="#lovers">Chocolate is loved</a></li>
                    </ul>
                    <ul class="social-links-mobile">
                        <li>
                            <a class="social-link" href="">
                                <svg width="22" height="22">
                                    <use href="/img/sprite/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-link" href="">
                                <svg width="22" height="22">
                                    <use href="/img/sprite/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>    
            </div> 
        </div>
    </header>