<div class="modal modal-buy" data-modal="buy">
  <svg class="modal-icon-close js-modal-close">
    <use href="/img/sprite/symbol-defs.svg#icon-close"></use>
  </svg>
  <h2 class="modal-title"><span class="modal-title-span">BUY</span> NOW</h2>

  <ul class="modal-list-phone">
    <li class="modal-item">
      <img
        srcset="
          /img/modal-windows-img/black-phone.jpg   1x,
          /img/modal-windows-img/black-phone@2x.jpg 2x
        "
        src="/img/modal-windows-img/black-phone.jpg"
        alt="black chocolate"
        width="167"
        height="148"
      />
      <span class="modal-item-span">100 g</span>
    </li>
    <li class="modal-item">
      <img
        srcset="
          /img/modal-windows-img/white-milk-phone.jpg    1x,
          /img/modal-windows-img/white-milk-phone@2x.jpg 2x
        "
        src="/img/modal-windows-img/white-milk-phone.jpg"
        alt="white&milk chocolate"
        width="167"
        height="148"
      /><span class="modal-item-span">200 g</span>
    </li>
    <li class="modal-item">
      <img
        srcset="
          /img/modal-windows-img/black-bars-phone.jpg    1x,
          /img/modal-windows-img/black-bars-phone@2x.jpg 2x
        "
        src="/img/modal-windows-img/black-bars-phone.jpg"
        alt="milk chocolate"
        width="167"
        height="148"
      /><span class="modal-item-span">300 g</span>
    </li>
  </ul>

  <ul class="modal-list-tablet">
    <li class="modal-item">
      <img
        srcset="
          /img/modal-windows-img/black-tablet.jpg    1x,
          /img/modal-windows-img/black-tablet@2x.jpg 2x
        "
        src="/img/modal-windows-img/black-tablet.jpg"
        alt="black chocolate"
        width="120"
        height="107"
      />
      <span class="modal-item-span">100 g</span>
    </li>
    <li class="modal-item">
      <img
        srcset="
          /img/modal-windows-img/white-milk-tablet.jpg    1x,
          /img/modal-windows-img/white-milk-tablet@2x.jpg 2x
        "
        src="/img/modal-windows-img/white-milk-tablet.jpg"
        alt="white&milk chocolate"
        width="120"
        height="107"
      /><span class="modal-item-span">200 g</span>
    </li>
    <li class="modal-item">
      <img
        srcset="
          /img/modal-windows-img/black-bars-tablet.jpg    1x,
          /img/modal-windows-img/black-bars-tablet@2x.jpg 2x
        "
        src="/img/modal-windows-img/black-bars-tablet.jpg"
        alt="milk chocolate"
        width="120"
        height="107"
      /><span class="modal-item-span">300 g</span>
    </li>
  </ul>

  <form class="form" autocomplete="off">
    <label class="modal-form-item">
      <span class="label">Personal information </span>
      <input
        type="text"
        name="name"
        class="modal-input name input-none"
        placeholder="Name"
      />
      <input
        type="text"
        name="surname"
        class="modal-input input-none"
        placeholder="Surname"
      />
      <div class="first-modal-input">
        <input
          type="text"
          name="name"
          class="modal-input input-width"
          placeholder="Name"
        />
        <input
          type="text"
          name="surname"
          class="modal-input input-width"
          placeholder="Surname"
        />
      </div>
    </label>

    <label class="modal-form-item">
      <span class="label">Email</span>
      <input
        type="email"
        name="email"
        class="modal-input"
        placeholder="Enter your email"
      />
    </label>

    <label class="modal-form-item">
      <span class="label">Phone number</span>
      <input
        type="tel"
        name="tel"
        class="modal-input phone"
        placeholder="Phone number"
      />
      <svg class="modal-input-icon">
        <use href="/img/sprite/symbol-defs.svg#icon-flag"></use>
      </svg>
      <span class="modal-input-span">+380</span>
    </label>

    <label class="modal-form-item">
      <span class="label">Card number</span>
      <input
        type="number"
        name="card"
        class="modal-input"
        placeholder="Enter card"
      />
      <svg class="modal-input-icon-mc">
        <use href="/img/sprite/symbol-defs.svg#icon-mastercard"></use>
      </svg>
    </label>

    <label class="modal-form-item last">
      <span class="label">Comment</span>
      <textarea
        name="comment"
        class="modal-input comment"
        placeholder="Enter text"
      ></textarea>
    </label>
    <div>
      <button
        type="submit"
        class="btn-modal js-modal-close js-open-modal"
        data-modal="ty"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<div class="modal modal-ty" data-modal="ty">
  <div class="icon-close-thumb">
    <svg class="modal-ty-icon-close js-modal-close">
      <use href="/img/sprite/symbol-defs.svg#icon-close"></use>
    </svg>
  </div>
  <h2 class="modal-title modal-title-ty">thank you!</h2>
  <p class="modal-text-ty">
    We are glad that you ordered our chocolate and we are giving you a 20%
    discount on all our products.
  </p>
</div>

<div class="modal modal-subscribe" data-modal="subscribe">
  <svg class="modal-subscribe-icon-close js-modal-close">
    <use href="/img/sprite/symbol-defs.svg#icon-close"></use>
  </svg>
  <h2 class="modal-title modal-title-subscribe">
    <span class="modal-title-span">Explore our</span> <br />
    new chocolate <span class="modal-title-span">first!</span>
  </h2>
  <form class="form-subscribe">
    <input
      type="email"
      placeholder="Enter your email"
      class="input-subscribe"
    />
    <button type="submit" class="btn-modal btn-subscribe js-modal-close">
      Submit
    </button>
  </form>
</div>

<div class="modal modal-review" data-modal="review">
  <svg class="modal-icon-close js-modal-close">
    <use href="/img/sprite/symbol-defs.svg#icon-close"></use>
  </svg>

  <h2 class="modal-title modal-title-review">
    <span class="modal-title-span">
      leave a review <br />
      about</span
    >
    our chocolate
  </h2>

  <form class="form-review" autocomplete="off">
    <input
      type="text"
      name="name"
      class="modal-input input-review"
      placeholder="Name"
    />

    <input
      type="email"
      name="email"
      class="modal-input input-review"
      placeholder="Enter your email"
    />

    <div class="input-review-container">
      <input
        type="tel"
        name="tel"
        class="modal-input phone input-review-phone"
        placeholder="Phone number"
      />
      <svg class="modal-input-icon input-icon-review">
        <use href="/img/sprite/symbol-defs.svg#icon-flag"></use>
      </svg>
      <span class="modal-input-span input-icon-review">+380</span>
    </div>

    <textarea
      name="comment"
      class="modal-input comment input-review-comment"
      placeholder="Enter text"
    ></textarea>

    <button
      type="submit"
      class="btn-modal js-modal-close js-open-modal"
      data-modal="feedback"
    >
      Submit
    </button>
  </form>
</div>

<div class="modal modal-ty modal-feedback" data-modal="feedback">
  <div class="icon-close-thumb">
    <svg class="modal-ty-icon-close js-modal-close">
      <use href="/img/sprite/symbol-defs.svg#icon-close"></use>
    </svg>
  </div>
  <h2 class="modal-title modal-title-ty modal-left">
    thank you <br />
    for your feedback!
  </h2>
  <p class="modal-text-ty">We are so happy to hear from you!</p>
</div>
